input{outline:none!important;} /*IE*/

.alert
{
	text-align: center;
}

#login-block
{
	width: 700px;
	height: 350px;
	background: url('train.png') 30px 10px no-repeat;
	margin: 50px auto 0;
	padding-top: 40px;
}

.wrap
{
	background: rgba(30,30,30,0.9);
	padding: 50px 0 60px 70px;
	/**/
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.15);
	box-shadow: 0 1px 5px rgba(0,0,0,.15);
}

.panel-wrap
{
	width: 800px;
	height: 350px;
	margin: 40px auto 0;
	color: white;
}

tr:nth-child(even)
{
	background: gray;
}

td
{
	border: 1px solid white;
	text-align: center;
	width: 100px;
}

a:hover
{
	color: gray;
}